.sidebar {
  width: 250px;
  height: 100%;
  /* background-color: #3541525e; */
  /* color: #fff; */
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  color:  #3c4858;
  background-color: rgba(255, 255, 255, 0.70);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
  
hr{
  border: none;
  height: 1px;
  background-color: #a7a7a794;
}
.conteiner-log{
    display: grid;
    place-items: center;
    margin: 15px 10px 15px 10px;
}

.text-logo{
    margin: 15px 15px 15px 15px;
    font-size: 15px;
}

  .logo-img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid;
  }



.conteinr-menu-invetario-img{
    padding: 10px 10px 10px;
}

.conteinr-menu-invetario-img-text{
    color: #3c4858;;
}


.conteinr-menu-invetario-img-alaing{
    /* display: flex;
    align-items: center; */
    display: flex;
    align-items: center;
    flex-direction: row;
}

.img-user{
    width: 52px;
    height: 52px;
    border-radius: 50px;
}

.conteinr-menu-invetario-img-name{
    font-size: 20px;
    padding: 0px 10px
}

  .sidebar ul {
    list-style-type: none;
    background: #b1b1b11f;
    padding: 0;
    border-radius: 10px;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .separation{
    border: none;
    height: 1px;
    background-color: #979797a6;
    margin-left: 0%;
    margin-right: 20%;
  }

  .sidebar li a {
    color:  #3c4858;;
    text-decoration: none;
    display: block;
    margin: 5px;
  }
  
  .sidebar ul li:hover {
    background-color: #d8d8d8;
    border-radius: 6px;
  }
  
  .sidebar ul ul {
    display: none;
    background-color: #99999985;
    padding-left: 20px;
    border-end-end-radius: 10px;
  }
  
  .sidebar ul ul li {
    padding: 5px;
  }
  
  .sidebar ul li:hover ul {
    display: block;
  }


