<div class="sidebar">
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li>
        <a href="#">Contacto</a>
        <ul>
          <li><a routerLink="/contacto/conctactoFormulario">Formulario</a></li>
          <li><a routerLink="/contacto/conctactoTabla">Tabla</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Producto</a>
        <ul>
          <li><a routerLink="/producto/productoFormulario">Formulario</a></li>
          <li><a routerLink="/producto/productoTabla">Tabla</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>