.conte{
    padding: 10px;
    width: 400px;
    display: grid;
    text-align: center;
}
hr{
    margin: 10px;
}

label{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.contect-form{
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}


.input-form{
    margin: 10px;
    background-color: rgb(236, 232, 232);
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    text-align: center;
}

.input-identifiacacion{
    width: 340px;
}

.input-nombre {
    width: 175px;
}
.input-apellido{
    width: 175px;
}



.descripcion-product{
    width: 360px;
    margin: 10px;
    background: rgb(236, 232, 232);
    color: black;
    border: 0;
    border-radius: 6px;
}

.btn-registrar{
    font-size: 15px;
    width: 150px;
    height: 30px;
    background-color: rgba(177, 186, 194, 0.658);
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}


.btn-registrar:hover{
    background-color: rgba(172, 172, 172, 0.705) ;
    color: black;
}




.mensaje-validator{
    color: red;
    font-size: 10px;
}