.conte{
    padding-top: 40px;
    display: flex;
    place-items: center;
    justify-content: space-around;
    text-align: center;
    
}

hr{
    margin: 10px;
    border: none;
    height: 1px;
    background-color: #a7a7a794;
}

label{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.contect-form{
    border-radius: 10px;
    padding: 10px;
    color:  #3c4858;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 550px;
}

.conteiner-identi{
    text-align: center;
    margin: 15px;
}

.conteiner-name-lastname{
       /* text-align: center; */
       display: flex;
       flex-wrap: wrap;
       /* align-content: center; */
       justify-content: center;
       margin: 15px;
}

.content-corro-numb{
    /* text-align: center; */
    display: flex;
    /* align-content: center; */
    margin: 15px;
}

.validar-correo-numero{
    display: flex;
    justify-content: center;
}

.input-form{
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.input-identifiacacion{
    width: 340px;
}

.input-nombre {
    width: 175px;
}
.input-apellido{
    width: 175px;
}



.descripcion-product{
    width: 360px;
    margin: 10px;
    background: rgb(167, 167, 167);
    color: black;
    border: 0;
    border-radius: 6px;
}

.btn-registrar{
    font-size: 15px;
    width: 150px;
    height: 30px;
    background-color: rgba(177, 186, 194, 0.658);
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}


.btn-registrar:hover{
    background-color: rgba(172, 172, 172, 0.705) ;
    color: black;
}


.mensaje-validator{
    color: red;
    font-size: 10px;
    margin-left: 20px;
}