<div class="conteiner">

    <div class="conteiter-table">
     <input type="text" name="" id="" placeholder="N de Identificacion" class="buscador">
     <button class="btn-buscar">buscar</button>
     <table>
       <thead>
          <tr>
            <th>N.</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Provedor</th>
            <th>Descripcion</th>
          </tr>
       </thead>
       <tbody>
   
         <tr>
           <th scope="row" class="indice">1</th>
           <td class="nombre" >takis</td>
           <td class="marca" >takis</td>
           <td class="categoria" >comida</td>
           <td class="proovedor"> juan garcia </td>
           <td class="descripcion"> uan garciavvuan garciauan garciauan garciauan garcia </td>
         </tr>
   
         <tr>
          <th scope="row" class="indice">2</th>
          <td class="nombre" >takis</td>
          <td class="marca" >takis</td>
          <td class="categoria" >comida</td>
          <td class="proovedor"> juan garcia </td>
          <td class="descripcion"> uan garciavvuan garciauan garciauan garciauan garcia </td>
        </tr>
      
       </tbody>
    </table>
    </div>
   
     
   </div>