<div class="contenedor-informacion">

    <div class="contenedor-box contenedor1">
        <img 
            src="https://cdn-icons-png.flaticon.com/512/1026/1026148.png" 
            alt="impuesto"
            class="card-icon"
        >
        <br>
        <span   class="text-conteiner-title">Cuentas</span>
        <br>
        <hr>
        <span   class="text-conteiner-informacion" >Infomacion</span>
    </div>

    <div class="contenedor-box contenedor2">
          <img 
            src="https://cdn-icons-png.flaticon.com/512/2577/2577674.png" 
            alt="impuesto"
            class="card-icon"
        >
        <br>
        <span   class="text-conteiner-title">Deudas</span>
        <br>
        <hr>
        <span   class="text-conteiner-informacion" >Infomacion</span>
    </div>

    <div class="contenedor-box contenedor3">
        <img 
        src="https://cdn-icons-png.flaticon.com/512/2400/2400072.png" 
        alt="impuesto"
        class="card-icon"
    >
    <br>
    <span   class="text-conteiner-title">Inventario</span>
    <br>
    <hr>
    <span   class="text-conteiner-informacion" >Infomacion</span>
    </div>

    <div class="contenedor-box contenedor4">
        <img 
        src="https://cdn-icons-png.flaticon.com/512/4239/4239021.png" 
        alt="impuesto"
        class="card-icon"
    >
    <br>
    <span   class="text-conteiner-title">Contactos</span>
    <br>
    <hr>
    <span   class="text-conteiner-informacion" >Infomacion</span>
    </div>

</div>