.conte{
    padding: 10px;
    display: flex;
    place-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
hr{
    margin: 10px;
}

label{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.contect-form{
    border-radius: 10px;
    padding: 10px;
    color:  #3c4858;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 650px;
}


.content-marca-product{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.validaror-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.input-form{
    margin: 10px;
    background-color: rgb(236, 232, 232);
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
}


.continer-selector{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p{
    margin: 10px;
    text-align: left;
}
.select-input{
    width: 175px;
}

.input-identifiacacion{
    width: 340px;
}

.input-nombre {
    width: 200px;
}
.input-apellido{
    width: 175px;
}



.descripcion-product{
    width: 360px;
    margin: 10px;
    background: rgb(236, 232, 232);
    color: black;
    border: 0;
    border-radius: 6px;
}

.btn-registrar{
    font-size: 15px;
    width: 150px;
    height: 30px;
    background-color: rgba(177, 186, 194, 0.658);
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}


.btn-registrar:hover{
    background-color: rgba(172, 172, 172, 0.705) ;
    color: black;
}


.mensaje-error{
    color: red;
    font-size: 10px;
    margin-left: 30px;
}
