.conteiner{
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.title{
    font-size: 30PX;
}

form{
    width: 500px;
    height: 330px;
    padding: 11px;
    margin: 10px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.50);
}


hr{
    border: none;
    height: 1px;
    background-color: #a7a7a794;
}

.conteiner-inputs{
    display: grid;
    place-items:  flex-start;
    padding-top: 10px;
    margin-bottom: 15px;
}

.text-login{
    font-size: 20px;
    margin: 2.5px;
    padding-right: 15px;
}

input{
    width: 200px;
    height: 25px;
    margin: 5px;
    border-radius: 999px;
    text-align: center;
    background-color: transparent;
    border: 1px solid#a7a7a794;
    font-size: 15px;
}

.conteiner-navegation{
    display: grid;
    place-items:  flex-start;
    margin: 10px 60px;
    
}

a{
    margin: 10px 15px;
    font-size: 15px;
    color: #7e8ba3;
}

.conteiner-validator{
    display: grid;
    place-items:  flex-start;
}


.btn-login{
 
    background-color: #7e8ba387;
    color:  #3c4858;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    border: none;
}

.btn-login:hover{
    background-color: #555f6e94;
}




.conteiner-imgLogin{
    position: fixed;
    left: 50%;
    top: 20%;
}

.img-login{
    width:250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.29);
   
}