.conteiner{
    padding-top: 40px;
    display: grid;
    text-align: center;
    justify-content: space-around;
}


.conteiter-table{
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, 0.12);
    
}

.buscador{
    margin: 10px;
    background-color: rgb(236, 232, 232);
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    text-align: start;
    width: 200px;
}


.btn-buscar{
    font-size: 15px;
    width: 150px;
    height: 30px;
    background-color: rgba(177, 186, 194, 0.658);
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}


.btn-buscar:hover{
    background-color: rgba(172, 172, 172, 0.705) ;
    color: black;
}

table{
    
    border-collapse: collapse;
    width: 850px;
    height: 500px;
}

thead{
    background-color: rgba(159, 161, 161, 0.658);
}





.indice{
    width: 10px;
}


.nombre{
    width: 150px;
}

.marca{
    width: 100px;
}

.categoria{
    width: 100px;
}

.proovedor{
    width: 100px;
}