<div class="conteiner">

    <div class="conteiter-table">
     <input type="text" name="" id="" placeholder="N de Identificacion" class="buscador">
     <button class="btn-buscar">buscar</button>
     <table>
       <thead>
          <tr>
            <th>N.</th>
            <th>Nombre y Apellido</th>
            <th>Celular</th>
            <th>Correo.</th>
            <th>Direccion.</th>
          </tr>
       </thead>
       <tbody>
   
         <tr *ngFor="let contacto of listaContacto; let i = index">
           <th scope="row" class="indice">{{ i + 1 }}</th>
           <td class="nombre">{{ contacto.nombre }} {{ contacto.apellido }}</td>
           <td class="numero">{{ contacto.numero }}</td>
           <td class="correo">{{ contacto.correo }}</td>
           <td class="dirreccion">{{ contacto.direccion }}</td>
         </tr>
   
       </tbody>
    </table>
    </div>
   
     
   </div>